@charset "UTF-8";

@font-face {
    font-family: 'FontPrinc';
    src: url(../Fontes/MozillaText-VariableFont_wght.ttf) format(truetype);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template: auto auto/ 50px 1fr 50px;
    /*background-color: #0f0f0f;*/
    background-color: #bebebe;
    font-family: 'FontPrinc', Arial, Helvetica, sans-serif;
    background-color: #111111d3;
}

header {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #242424;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.815);
    padding: 15px 7px;
}

h1 {
    color: #fff;
    font-size: 2.2em;
}

div#inputBuscaCamp {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

input {
    width: 100%;
    padding: 4px 7px;
    font-size: 1em;
    border: none;
    background-color: #888888;
    border-radius: 16px;
    transition: .1s;
}

input:focus-within {
    background-color: #e6e6e6;
}

input::placeholder {
    color: #ffffff8c;
    text-align: center;
}

input:focus-within::placeholder {
    color: #2424247e;
}

.iconSearch {
    font-size: 1.2em;
    color: #dfdfdfa8;
    margin-right: 6px;
    transform: translateY(14%);
    cursor: pointer;
    transition: .3s;
}

.iconSearch:hover {
    color: #f0f0f0;
    transition: .2s;
}

#exportarBTN {
    font-size: 1.05em;
    padding: 7px;
    border: 2px solid #ffffffa6;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffffa6;
    transition: .3s;
    cursor: pointer;
}

#exportarBTN:hover {
    border-color: #fff;
    color: #ffffff;
    transition: .2s;
}

#exportarBTN:active {
    background-color: #ffffffd2;
    transition: .1s;
}

main {
    grid-column: 2/-2;
    grid-row: 2/3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 33px;
}

div#criarNotaCamp {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 59px;
}

input#icriarNota {
    border-radius: 5px;
}

button {
    background-color: transparent;
    border: none;
}

.iconPlus {
    font-size: 1.1em;
    margin-left: 9px;
    color: #dfdfdfa8;
    background-color: #242424e1;
    padding: 5px;
    border: 2px solid #dfdfdfa8;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.479);
    transition: .3s;
    cursor: pointer;
}

.iconPlus:hover {
    border-color: #fff;
    color: #ffffff;
    transition: .2s;
}

.iconPlus:active {
    background-color: #ffffffd2;
    transition: .1s;
}

div#campoNotas {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

div.nota {
    width: 100%;
    max-width: 290px;
    min-height: 260px;
    padding: 6px;
    border: 1px solid #a0a0a0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

div.Pinned {
    border: 1px solid #cecece;
    background-color: #a0a0a00e;
}

textarea {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    padding: 7px;
    font-size: 1.2em;
    background-color: transparent;
    border-radius: 4px;
    color: #f3f3f3;
}

div.conteudoCampo {
    width: 100%;
    max-width: 230px;
    height: 100%;
    max-height: 190px;
}

.iconesNotes {
    z-index: 1;
    top: 20px;
    left: 84%;
    position: absolute;
    font-size: 1.24em;
    color: #242424;
    cursor: pointer;
    transition: .2s;
    opacity: 0;
    transition: .2s;
}

div.nota:hover .iconesNotes {
    opacity: 1;
    transition: .2s;
}

.fa-copy {
    top: 59px;
}

.iconesNotes:hover {
    color: #e0e0e0ad;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.336));
    transition: .2s;
}

.iconesNotes:active {
    color: #ffffff;
    transition: .1s;
}

.iconPin {
    position: absolute;
    top: 80%;
    left: 12px;
    padding: 8px;
    font-size: 1.2em;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    border-radius: 6px;
    color: #a0a0a0;
    cursor: pointer;
    transition: .2s;
}

.pinnedIcon {
    border: 1px solid #e9e9e9;
    color: #dfdfdf;
    background-color: #cecece28;
}

.iconPin:hover {
    border-color: #fff;
    color: #fff;
    transition: .2s;
}

.iconPin:active {
    background-color: #fff;
    transition: .1s;
}

.esconder {
    display: none !important;
}